In [2]:
import pandas as pd

In [5]:
summer = pd.read_csv("summer.csv")

In [6]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [9]:
sampled_data = summer.sample(frac=0.1, random_state=42)  # 10% sample

# Processing data in chunks 
chunk_size = 10000  # Specify the chunk size
for chunk in pd.read_csv('summer.csv', chunksize=chunk_size):
    # Perform operations on each chunk
    process_chunk(chunk)

Country
ANZ      29
ARG      78
AUS     158
AUT     101
BAH       2
       ...
URU      74
USA    1829
VEN       1
YUG      78
ZZX      48
Name: Medal, Length: 62, dtype: int64
Country
AHO       1
ALG       3
ARG      21
AUS     250
AUT      21
       ...
USA    1297
VEN       7
YUG     305
ZAM       1
ZIM      16
Name: Medal, Length: 90, dtype: int64
Country
AFG      1
ALG     12
ARG    140
ARM      9
AUS    733
      ...
VEN      3
VIE      2
YUG     52
ZAM      1
ZIM      7
Name: Medal, Length: 120, dtype: int64
Country
AFG     1
ARG    20
ARM     2
AUS    48
AZE     8
       ..
TUR     3
UKR    12
USA    91
UZB     2
VEN     1
Name: Medal, Length: 68, dtype: int64

In [10]:
def process_chunk(chunk):
  
    processed_data = chunk.groupby('Country')['Medal'].count()  

    print(processed_data)

# Loop over chunks and apply the defined function
chunk_size = 10000  
for chunk in pd.read_csv('summer.csv', chunksize=chunk_size):
    process_chunk(chunk)

Country
ANZ      29
ARG      78
AUS     158
AUT     101
BAH       2
       ...
URU      74
USA    1829
VEN       1
YUG      78
ZZX      48
Name: Medal, Length: 62, dtype: int64
Country
AHO       1
ALG       3
ARG      21
AUS     250
AUT      21
       ...
USA    1297
VEN       7
YUG     305
ZAM       1
ZIM      16
Name: Medal, Length: 90, dtype: int64
Country
AFG      1
ALG     12
ARG    140
ARM      9
AUS    733
      ...
VEN      3
VIE      2
YUG     52
ZAM      1
ZIM      7
Name: Medal, Length: 120, dtype: int64
Country
AFG     1
ARG    20
ARM     2
AUS    48
AZE     8
       ..
TUR     3
UKR    12
USA    91
UZB     2
VEN     1
Name: Medal, Length: 68, dtype: int64